body{
    margin: 0;
    padding: 0;
    font-family: cursive;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), 
    url('dung-trieu-DVA6kQNdUWs-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    width: 90px;
    height: 90px;
    position: absolute;
    top: 5%;
    left: 50%;
    border: 2px solid blue;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    opacity: 0.8;
    box-shadow: 0 0 0 2px blue,0 0 20px blue;
}
.box h1{
    color: white;
    border-bottom: 2px solid blue;
    padding: 20px;
    width: 100px;
    margin-left: 80px;
    transition: 0.4s;
}
.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.8);
    text-align: center;
}
.box input[type = "text"],.box input[type = "password"]{
    border: 0;
    color: white;
    background: none;
    display: block;
    width: 300px;
    margin: 20px auto;
    padding: 14px 10px;
    border: 2px solid blue;
    border-radius: 24px;
    outline: none;
    transition: all 0.5s ease;
    text-align: center;
    color: white;
}

#btn1{
    border: 0;
    color:rgb(109, 105, 105);
    width: 100px;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    border: 2px solid green;
    border-radius: 24px;
    outline: none;
    transition: all 0.5s ease;
    cursor: pointer;
}
#btn1:hover{
    background:green;
    width: 250px;
    color: rgb(172, 167, 167);
}
.box h1:hover{
    width: 200px;
    margin-left: 30px;
    border-bottom: 2px solid green;
}
.form-control i
{
    visibility: hidden;
    position: absolute;
    top: 186px;
    left: 310px;
}
.form-control1 i
{
    position: absolute;
    top: 255px;
    left: 310px;
    visibility: hidden;
}
